.inputSubmit{    
    height : 32px;
    width : 32px;
    display: block;
    background-size : 3rem;
    background-image : url('/static/img/lupa2.png');
    background-repeat : no-repeat;
    position : absolute;
    right : 1rem;
    top: 5px;
    background-color : white;
    border : none;
    text-indent : -9999px;

    :hover{
        cursor:pointer;
    }
}

.inputText{
    border : 1px solid var(--gris3);
    padding: 1rem;
    min-width : 300px;
}